<% layout("./layouts/boilerplate.ejs") %>
<body>
    <form action="/listings/<%= listing._id %>?_method=PUT " method="post" >
        <input type="text" name="listing[title]" value="<%= listing.title %>">
        <textarea type="text" name="listing[description]"><%= listing.description %></textarea>
        <input type="number" name="listing[price]" value="<%= listing.price %>"> >
        <input type="text" name="listing[country]" value="<%= listing.country%>">>
        <input type="text" name="listing[image]" value="<%= listing.image %>">>
        <input type="text" name="listing[location]" value="<%= listing.location %>">>
        <button>update</button>

    </form>
    
</body>
